.filter {
    width: 100%;
    height: 100%;
}

.form-container{

    &__button{
        display: flex;
        justify-content: center;
    }
}

.form{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    
    &__name{
    }
    
    &__date-picker{
    }

    &__status{
    }
    
    &__clearFilter{
    }
    
}

.clearFilter__btn{
    color: red;
    cursor: pointer;
    font-size: 12px;
}